<launch>
    <rosparam param="initial_pose_map_to_odom/position">[-19.972, 1.532, 0.294]</rosparam>
    <rosparam param="initial_pose_map_to_odom/orientation">[-0.001, 0.004, 0.684, 0.730]</rosparam>
    <param name="initial_pose_map_to_odom/consumed" value="True"/>

	<node name="dynamic_mapper" type="dynamic_mapper" pkg="ethzasl_icp_mapper" output="screen">
		<remap from="cloud_in" to="/dynamic_point_cloud" />
		<param name="subscribe_scan" value="false" />
		<param name="icpConfig" value="$(find ethzasl_icp_mapper)/launch/husky/darpa_icp_param_ctu.yaml" />
		<param name="inputFiltersConfig" value="$(find ethzasl_icp_mapper)/launch/husky/darpa_input_filters_ctu.yaml" />
		<param name="mapPostFiltersConfig" value="$(find ethzasl_icp_mapper)/launch/husky/darpa_mapPost_filters_ctu.yaml" />
		<param name="odom_frame" value="/odom" />
		<param name="map_frame" value="/map" />
		<param name="useROSLogger" value="true" />
		<param name="minOverlap" value="0.05" /> 
		<param name="maxOverlapToMerge" value="1.0" /> 
		<param name="minReadingPointCount" value="100" /> 
		<param name="minMapPointCount" value="100" /> 
		<param name="localizing" value="true" /> 
		<param name="mapping" value="true" /> 

    <!-- Parameters for dynamic elements -->
		<param name="priorStatic" value="0.55"/>
		<param name="priorDyn" value="0.45"/>
		<param name="maxAngle" value="0.02"/>
		<param name="eps_a" value="0.1"/><!--1 deg = 0.017rad-->
		<param name="eps_d" value="0.1"/>
		<param name="alpha" value="0.99"/>
		<param name="beta" value="0.90"/>
		<param name="maxDyn" value="0.5"/>
		<param name="maxDistNewPoint" value="0.04"/>
		<param name="sensorMaxRange" value="100.0"/>
	</node>
</launch>
